@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100&display=swap');
:root{
    --bg-color: #5ca2df;
    --logo-img: "../img/logo.png"
}
body {
    margin: 0;
    padding: 0;    
    font-family: 'Roboto', sans-serif;
}

.main-menu {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    background-color: var(--bg-color);
    height: 15px;
    margin-bottom: 10%;
 
}

.logo {
    background-image:url('../img/logo.png');
    background-repeat: none;
    max-width: 200px;
    max-height: 73px;
    min-width: 200px;
    min-height: 73px;
    margin-top: 20px;
    
}

.nav {
    width: 100%;
    padding: 3%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

}
 .nav span {
     padding: 10px 10px 10px 10px;
     

 }
 .nav span a {
     text-decoration: none;
     text-transform: uppercase;
 }
 .nav span a:hover {
     color: var(--bg-color);
     font-weight: bold;
 }
